{% extends 'base.html.twig' %}

{% block body %}
    <div class="contentBlock">
    <h2>Video List</h2>

    <table class="video-list">
        <thead>
        <tr>
            <th colspan="2">Video</th>
            <th>Kamera</th>
            <th>Datum</th>
            <th>Größe</th>
            <th>Geschützt</th>
            <th>Download</th>
        </tr>
        </thead>
        {% for video in videos %}
            <tr>
                <td class="video"><video width="213" height="120" controls src="{{ path('video_stream', {uid: video.uid}) }}"></video></td>
                <td class="title">{{ video.title }}</td>
                <td>{{ video.cameraType.value }}</td>
                <td>{{ video.recordTime|date() }}<br>{{ video.duration }} sec</td>
                <td>{{ (video.size / 1048576)|number_format(2) }} MB</td>
                <td>{% if video.isProtected  %}
                    <input type="checkbox" name="protected" value="{{ video.uid }}" checked>
                    {% else %}
                    <input type="checkbox" name="protected" value="{{ video.uid }}">
                    {% endif %}
                </td>
                <td><a href="{{ path('video_download', {uid: video.uid}) }}" class="btn">Download</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
