<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div class="header">
        <div><img src="{{ asset('images/icon.svg') }}" class="logo" alt=""></div>
        <div class="nav">
            <ul class="nav">
                <li><a href="{{ path('list_videos') }}">Videos</a> </li>
                <li><a href="{{ path('list_cameras') }}">Cameras</a> </li>
            </ul>
        </div>
    </div>
    <div class="page-body">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
