{% extends 'base.html.twig' %}

{% block body %}
    <script>
        let refreshInterval = null;

        function refreshImages() {
            document.querySelectorAll('.camera-preview-image').forEach(img => {
                // Append a timestamp to bypass caching
                img.src = img.src.split('?')[0] + '?t=' + Date.now();
            });
        }

        function startRefreshing() {
            if (!refreshInterval) {
                refreshInterval = setInterval(refreshImages, 5000);
            }
        }

        function stopRefreshing() {
            clearInterval(refreshInterval);
            refreshInterval = null;
        }

        document.addEventListener('visibilitychange', () => {
            document.hidden ? stopRefreshing() : startRefreshing();
        });

        // Start immediately if the tab is visible
        if (!document.hidden) {
            startRefreshing();
        }
    </script>
    <div class="contentBlock">
        <h2>Camera {{ camera.uid }} - {{ camera.title }}</h2>

        <form action="" name="camera" method="post">
            <div class="flex-container">
                <div class="form-element">
                    <label for="camera_title">Titel</label>
                    <input type="text" id="camera_title" name="camera[title]" value="{{ camera.title }}">
                </div>
                <div class="form-element">
                    <label for="camera_videoFolder">Video-Ordner</label>
                    <input type="text" id="camera_videoFolder" name="camera[videoFolder]"
                           value="{{ camera.videoFolder }}">
                </div>
                <div class="form-element">
                    <label for="camera_type">Kameratyp</label>
                    <input type="text" id="camera_type" name="camera[type]" value="{{ camera.type.value }}">
                </div>
                <div class="form-element">
                    <label for="camera_liveUri">Live-URI</label>
                    <input type="text" id="camera_liveUri" name="camera[liveUri]" value="{{ camera.liveUri }}">
                </div>
                <div class="form-element" style="position: relative">
                    <label for="camera_keepFreeSpace">Mindest-Freier Speicherplatz</label>
                    <input type="text" id="camera_keepFreeSpace" name="camera[keepFreeSpace]"
                           value="{{ camera.keepFreeSpace }}"
                           placeholder="1024"><span style="right:5px;position: absolute;top: 25%;">MB</span>
                </div>
                <div class="form-element" style="grid-column: 1 / span 2;justify-self: center;">
                    <input type="hidden" name="camera[uid]" value="{{ camera.uid }}">
                    <input type="submit">
                </div>
            </div>
        </form>


    </div>
{% endblock %}
